* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  width: 100%;
  background: rgba(0, 0, 0, 0.4)
    url(https://static.vecteezy.com/system/resources/previews/024/444/501/large_2x/table-scene-with-a-selection-of-delicious-foods-top-view-over-a-dark-wood-banner-background-generate-ai-free-photo.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
}
/* ---nav-bar--- */

.nav-container {
  display: flex;
  justify-content: center;
}

.nav {
  width: 70%;
  height: 11vh;
  margin-top: 25px;
  border-radius: 50px;
  background-color: rgba(178, 176, 176, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.show {
  transform: translateY(0);
}

.nav a {
  margin: 0 30px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.menu__link {
  color: #fff;
  line-height: 2;
  position: relative;
  font-family: Montserrat;
  padding-bottom: 7px;
}

.menu__link::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}

.logo {
  height: 30vh;
  width: auto;
  margin-top: 55px;
  opacity: 0.9;
}

@media screen and (max-width: 1133px) {
  .nav a {
    display: none;
  }
}

#bar {
  display: none;
  color: #fff;
}

#cross {
  display: none;
}

@media screen and (max-width: 1133px) {
  .logo {
    height: 25vh;
    width: auto;
  }
}

@media screen and (max-width: 1133px) {
  .logo {
    height: 23vh;
    width: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  #bar {
    display: flex;
    margin-right: 20px;
  }
  .nav {
    height: 9vh;
    width: 85%;
  }
}

/* Responsive Navbar */

.nav-responsive {
  width: 100%;
  background-color: black;
  height: 55vh;
  transition: 0.5s;
}

.nav-responsive .left-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.nav-responsive .left-links {
  margin-top: 50px;
}

.nav-responsive .right-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.nav-responsive .logo {
  display: none;
}

.nav-responsive #bar {
  display: none;
}

.nav-responsive #cross {
  display: block;
  color: #fff;
  text-align: center;
  margin-top: 35px;
  transition: 0.5s;
}

/* Result */

#search-results {
  margin-top: 4rem;
  padding-bottom: 7rem;
}

.results {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.container-right {
  background-color: white;
  width: 30%;
  margin-top: 20px;
  border-radius: 5px;
}

.container-left {
  background-color: white;
  width: 30%;
  margin-top: 20px;
  border-radius: 5px;
}

@media screen and (max-width: 960px) {
  .results {
    display: grid;
  }
}

@media screen and (max-width: 573px) {
  .results {
    display: list-item;
    margin-left: 4rem;
  }
}

.go-top-btn {
  position: fixed;
  bottom: 35px;
  right: 35px;
  border-radius: 50%;
  cursor: pointer;
  height: 70px;
  width: 70px;
  background: #fff;
  border: 3px solid #333;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 4px 35px 15px rgba(197, 196, 196, 0.7);
  transition: 0.5s;
}

.go-top-btn img {
  width: 50px;
  height: 50px;
}

.go-top-btn:hover {
  height: 80px;
  width: 80px;
  transition: 0.3s;
  padding: 3rem;
}
