*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  width: 100%;
  --s: 200px; /* control the size */
  --_g: #5b5b5b 25%, #898989 0 50%, #0000 0;
  --_l1: #fff 0 1px, #0000 0 calc(25% - 1px), #fff 0 25%;
  --_l2: #fff 0 1px, #0000 0 calc(50% - 1px), #fff 0 50%;
  background: repeating-linear-gradient(45deg, var(--_l1)),
    repeating-linear-gradient(-45deg, var(--_l1)),
    repeating-linear-gradient(0deg, var(--_l2)),
    repeating-linear-gradient(90deg, var(--_l2)),
    conic-gradient(from 135deg at 25% 75%, var(--_g)),
    conic-gradient(from 225deg at 25% 25%, var(--_g)),
    conic-gradient(from 45deg at 75% 75%, var(--_g)),
    conic-gradient(from -45deg at 75% 25%, var(--_g)),
    repeating-conic-gradient(#125c65 0 45deg, #080808 0 90deg);
  background-size: var(--s) var(--s);
}
/* ---nav-bar--- */

.nav-container {
  display: flex;
  justify-content: center;
}

.nav {
  width: 70%;
  height: 11vh;
  margin-top: 25px;
  border-radius: 50px;
  background-color: rgba(178, 176, 176, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.show {
  transform: translateY(0);
}

.nav a {
  margin: 0 30px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.menu__link {
  color: #fff;
  line-height: 2;
  position: relative;
  font-family: Montserrat;
  padding-bottom: 7px;
}

.menu__link::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}

.logo {
  height: 30vh;
  width: auto;
  margin-top: 55px;
  opacity: 0.9;
}

@media screen and (max-width: 1133px) {
  .nav a {
    display: none;
  }
}

#bar {
  display: none;
  color: #fff;
}

#cross {
  display: none;
}

@media screen and (max-width: 1133px) {
  .logo {
    height: 25vh;
    width: auto;
  }
}

@media screen and (max-width: 1133px) {
  .logo {
    height: 23vh;
    width: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  #bar {
    display: flex;
    margin-right: 20px;
  }
  .nav {
    height: 9vh;
    width: 85%;
  }
}

/* Responsive Navbar */

.nav-responsive {
  width: 100%;
  background-color: black;
  height: 55vh;
  transition: 0.5s;
}

.nav-responsive .left-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.nav-responsive .left-links {
  margin-top: 50px;
}

.nav-responsive .right-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.nav-responsive .logo {
  display: none;
}

.nav-responsive #bar {
  display: none;
}

.nav-responsive #cross {
  display: block;
  color: #fff;
  text-align: center;
  margin-top: 35px;
  transition: 0.5s;
}

/* Result */

#search-results{
  display: flex; 
  justify-content: center;
  padding: 8rem 0;
}