.results {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.text-container h2 {
  text-align: center;
  padding: 2px;
}
.results .container-left {
  background-color: white;
  width: 55vh;
  margin-top: 20px;
  border-radius: 5px;
}

.results .random-image {
  height: calc(13 * 1.2rem);
  padding: 1.2rem 1.2rem 0;
  position: relative;
}

.results .random-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.results .container-left-title {
  text-align: center;
  padding-top: 5px;
  text-transform: uppercase;
  font-family: "Lato";
  letter-spacing: 3px;
}

.results .ingredients {
  font-size: 1.4rem;
  margin-left: 30px;
  padding-bottom: 1.3rem;
}

@media screen and (max-width: 965px) {
  .results {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-left {
    width: 80vh;
    font-size: 1.5rem;
  }

  .container-right {
    width: 75vh;
    margin-left: 0;
  }
}

@media screen and (max-width: 573px) {
  .results {
    padding: 10px;
  }

  .results .container-left {
    width: 90%;
    height: 35%;
  }

  .results .container-left .ingredients {
    font-size: 1.5rem !important;
  }

  .results .container-right {
    width: 90% !important;
    height: 35% !important;
  }

  .results .container-right .recipe {
    font-size: 1.5rem !important;
  }
}

@media screen and (max-width: 960px) {
  .results .random-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .results .container-left {
    width: 80vh;
    font-size: 1.5rem;
  }

  .results .container-right {
    width: 75vh;
    margin-left: 0;
  }

  .results .random-bg {
    height: 180vh;
  }
}

@media screen and (max-width: 573px) {
  .results .random-div {
    padding: 10px;
  }

  .results .container-left {
    width: 90%;
    height: 35%;
  }

  .results .container-left .ingredients {
    font-size: 1.5rem !important;
  }

  .results .container-right {
    width: 90% !important;
    height: 35% !important;
  }

  .results .container-right .recipe {
    font-size: 1.5rem !important;
  }

  .results .random-bg {
    height: 200vh;
  }
}

.results .random-div {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.results .container-right {
  background-color: white;
  width: 80vh;
  margin-top: 20px;
  border-radius: 5px;
}

.results .container-right .recipe {
  padding: 1.4rem;
  font-size: 1.4rem;
}

.results .container-right .right-title {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.results .random-title h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
}

.results .video-btn {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.results .comic-button {
  display: inline-block;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #e00606;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.nav-responsive {
  width: 100%;
  background-color: black;
  height: 55vh;
  transition: 0.5s;
}

.nav-responsive .left-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.nav-responsive .left-links {
  margin-top: 50px;
}

.nav-responsive .right-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.nav-responsive .logo {
  display: none;
}

.nav-responsive #bar {
  display: none;
}

.nav-responsive #cross {
  display: block;
  color: #fff;
  text-align: center;
  margin-top: 35px;
  transition: 0.5s;
}
