* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  font-family: "lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: Montserrat;
}

a {
  text-decoration: none;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.text-uppercase {
  text-transform: uppercase;
}

/* ---nav-bar--- */

.nav-container {
  display: flex;
  justify-content: center;
}

.nav {
  width: 70%;
  height: 11vh;
  margin-top: 25px;
  border-radius: 50px;
  background-color: rgba(178, 176, 176, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

.show {
  transform: translateY(0);
}

.nav a {
  margin: 0 30px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

.menu__link {
  color: #fff;
  line-height: 2;
  position: relative;
  font-family: Montserrat;
  padding-bottom: 7px;
}

.menu__link::before {
  content: "";
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: #fff;
  position: absolute;
  bottom: -0.25rem;
  left: 50%;
  transition: width 0.4s, left 0.4s;
}

.menu__link:hover::before {
  width: 100%;
  left: 0;
}

.logo {
  height: 30vh;
  width: auto;
  margin-top: 55px;
  opacity: 0.9;
}

@media screen and (max-width: 1310px) {
  .nav a {
    display: none;
  }
}

#bar {
  display: none;
  color: #fff;
}

#cross {
  display: none;
}

@media screen and (max-width: 1310px) {
  .logo {
    height: 25vh;
    width: auto;
  }
}

@media screen and (max-width: 1310px) {
  .logo {
    height: 23vh;
    width: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  #bar {
    display: flex;
    margin-right: 20px;
  }

  .nav {
    height: 9vh;
    width: 85%;
  }
}

/* Responsive Navbar */

.nav-responsive {
  width: 100%;
  background-color: black;
  height: 55vh;
  transition: 0.5s;
}

.nav-responsive .left-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.nav-responsive .left-links {
  margin-top: 50px;
}

.nav-responsive .right-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  text-transform: uppercase;
}

.nav-responsive .logo {
  display: none;
}

.nav-responsive #bar {
  display: none;
}

.nav-responsive #cross {
  display: block;
  color: #fff;
  text-align: center;
  margin-top: 35px;
  transition: 0.5s;
}

/* Feed Starts */

.feed {
  display: flex;
  justify-content: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 88vh;
}

.search-bg {
  object-fit: cover;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
  height: 115vh;
}

.card-search {
  width: 55rem;
  height: 50%;
  border-radius: 50px;
  background-color: rgba(118, 117, 117, 0.5);
  box-shadow: 2px 4px 50px 20px rgba(22, 22, 22, 0.7);
  margin-bottom: 20rem;
  z-index: 9;
}

.title-input {
  margin-top: 10%;
  padding-top: 3%;
}

.title {
  text-transform: uppercase;
  color: white;
  font-family: "Montserrat";
  font-size: 4rem;
}

.input[type="text"] {
  display: block;
  color: rgb(34, 34, 34);
  background: linear-gradient(142.99deg,
      rgba(217, 217, 217, 0.8) 15.53%,
      rgba(243, 243, 243, 0.63) 88.19%);
  box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);
  border-color: rgba(7, 4, 14, 0);
  border-radius: 50px;
  block-size: 20px;
  margin: auto;
  padding: 3% 2%;
  outline: none;
  text-align: left;
  width: 60%;
  height: 16%;
  transition: 0.5s;
  margin-top: 15px;
}

.input[type="text"]:hover {
  width: 70%;
}

.input[type="text"]:focus {
  width: 70%;
}

::placeholder {
  font-size: 1.4rem;
  text-align: center;
}

.search-btn-box {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.search-button {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000000;
  background-color: rgba(204, 203, 203, 0.7);
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #4b4b4b,
    4px 2px 16px 0px rgba(55, 55, 55, 0.48);
  z-index: 1;
}

.search-button:hover {
  color: #ffffff;
  background-color: rgb(154, 151, 151);
  box-shadow: -2px -1px 8px 0px #767575, 2px 1px 8px 0px rgba(55, 55, 55, 0.48);
}

.search-button:active {
  box-shadow: none;
}

#search-icon {
  margin-left: 1rem;
}

@media screen and (max-width: 500px) {

  .feed {
    align-items: center;
  }

  .search-bg {
    height: 150%;
  }

  .input[type="text"] {
    width: 80%;
  }

  .title-input {
    padding-top: 10%;
  }

  .feed .title {
    margin-top: 0 !important;
    font-size: 180%;
  }

  .card-search {
    width: 90%;
    height: 30%;
    border-radius: 50px;
    background-color: rgba(98, 98, 98, 0.7);
    box-shadow: 2px 7px 76px 36px rgba(0, 0, 0, 0.75);

  }

  .search-btn-box {
    display: flex;
    justify-content: center;
  }

  .search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: inherit;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
    background-color: rgba(204, 203, 203, 0.7);
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    border-radius: 40px 40px 40px 40px;
    padding: 16px 24px 16px 28px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -4px -2px 16px 0px #4b4b4b,
      4px 2px 16px 0px rgba(55, 55, 55, 0.48);
  }

  .search-button:hover {
    color: #ffffff;
    background-color: rgb(82, 81, 81);
    box-shadow: -2px -1px 8px 0px #767575,
      2px 1px 8px 0px rgba(55, 55, 55, 0.48);
  }

  .search-button:active {
    box-shadow: none;
  }

  #search-icon {
    margin-left: 1rem;
  }
}

/* Results */

#results {
  font-family: monospace;
  --color: #e1e1e1;
  background-color: #f3f3f3;
  background-image: linear-gradient(0deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent),
    linear-gradient(90deg,
      transparent 24%,
      var(--color) 25%,
      var(--color) 26%,
      transparent 27%,
      transparent 74%,
      var(--color) 75%,
      var(--color) 76%,
      transparent 77%,
      transparent);
  background-size: 55px 55px;
}

.daily-title {
  font-size: 50px;
  text-transform: uppercase;
  font-family: Montserrat;
  letter-spacing: 3px;
  text-align: center;
  padding-top: 30px;
}

#results .main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

hr.style-two {
  border: 0;
  height: 2px;
  width: 50%;
  margin-left: 25%;
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0));
}

#results .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  gap: 20px;
  width: 125rem;
  margin-bottom: 70px;
}

#results .cards_item {
  display: flex;
  padding: 1rem;
}

#results .card_image {
  height: calc(13 * 1.2rem);
  padding: 1.2rem 1.2rem 0;
  position: relative;
}

#results .card_image:before,
#results .card_image:after {
  content: "";
  position: absolute;
  width: 20px;
  left: 60%;
  top: 0;
  height: 45px;
  background: #e6e6e6b8;
  transform: rotate(45deg);
}

#results .card_image:after {
  transform: rotate(-45deg);
  top: auto;
  bottom: -22px;
  left: 40%;
}

#results .card_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#results .cards_item {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}

#results .card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 30px;
  background: repeating-linear-gradient(#0000 0 calc(1.2rem - 1px),
      #66afe1 0 1.2rem) right bottom / 100% 100%,
    linear-gradient(red 0 0) 30px 0/2px 100% #fff;
  background-repeat: no-repeat;
  line-height: 1.2rem;
  -webkit-mask: radial-gradient(circle 0.8rem at 2px 50%, #0000 98%, #000) 0 0/100% 2.4rem;
}

#results .card_content {
  padding: 1.2rem;
  line-height: 1.7rem;
}

#results h2.card_title,
#results p {
  margin: 1.2rem 0;
  letter-spacing: 0.5px;
}

#results h2.card_title {
  font-size: 1.3em;
}

@media screen and (max-width: 780px) {
  hr.style-two {
    width: 100%;
    margin-left: 0;
  }
}

/* Random Feed Starts */

.random-bg {
  object-fit: cover;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.container-left {
  background-color: white;
  width: 55vh;
  margin-top: 20px;
  border-radius: 5px;
}

.random-image {
  height: calc(13 * 1.2rem);
  padding: 1.2rem 1.2rem 0;
  position: relative;
}

.random-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.container-left-title {
  text-align: center;
  padding-top: 5px;
  text-transform: uppercase;
  font-family: "Lato";
  letter-spacing: 3px;
}

.ingredients {
  font-size: 1.4rem;
  margin-left: 30px;
  padding-bottom: 1.3rem;
}

.dot-spinner-cover-left {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-right: 50px;
}

.dot-spinner-cover-right {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
}

@media screen and (max-width: 960px) {
  .random-div {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .container-left {
    width: 80vh;
    font-size: 1.5rem;
  }

  .container-right {
    width: 75vh;
    margin-left: 0;
  }

  .random-bg {
    height: 180vh;
  }
}

@media screen and (max-width: 573px) {
  .random-div {
    padding: 10px;
  }

  .container-left {
    width: 90%;
    height: 35%;
  }

  .container-left .ingredients {
    font-size: 1.5rem !important;
  }

  .container-right {
    width: 90% !important;
    height: 35% !important;
  }

  .container-right .recipe {
    font-size: 1.5rem !important;
  }

  .random-bg {
    height: 200vh;
  }
}

@media screen  and (min-width: 1200px) {
  .random-bg{
    height: 130vh;
  }

  .random-div{
    padding-top: 20px;
  }
}

.random-div {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

.container-right {
  background-color: white;
  width: 80vh;
  margin-top: 20px;
  border-radius: 5px;
}

.container-right .recipe {
  padding: 1.4rem;
  font-size: 1.4rem;
}

.container-right .right-title {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.random-title h1 {
  font-size: 4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 3rem;
}

.video-btn {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.comic-button {
  display: inline-block;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #e00606;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button:hover {
  background-color: #fff;
  color: #e00606;
  border: 2px solid #e00606;
  box-shadow: 5px 5px 0px #e00606;
}

.comic-button:active {
  background-color: #fcf414;
  box-shadow: none;
  transform: translateY(4px);
}

.random-btn {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.random-btn button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: #000000;
  background-color: #e0e8ef;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: rgba(255, 255, 255, 0.333);
  border-radius: 40px 40px 40px 40px;
  padding: 16px 24px 16px 28px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.2s;
  box-shadow: -4px -2px 16px 0px #686868,
    4px 2px 16px 0px rgba(158, 158, 158, 0.48);
}

.random-btn button:hover {
  color: #000000;
  background-color: #e5edf5;
  box-shadow: -2px -1px 8px 0px #969696,
    2px 1px 8px 0px rgba(158, 158, 158, 0.48);
}

.random-btn button:active {
  box-shadow: none;
}

.dot-spinner {
  --uib-size: 2.8rem;
  --uib-speed: 0.9s;
  --uib-color: #183153;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: var(--uib-size);
  width: var(--uib-size);
}

.dot-spinner__dot {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.dot-spinner__dot::before {
  content: "";
  height: 20%;
  width: 20%;
  border-radius: 50%;
  background-color: var(--uib-color);
  transform: scale(0);
  opacity: 0.5;
  animation: pulse0112 calc(var(--uib-speed) * 1.111) ease-in-out infinite;
  box-shadow: 0 0 20px rgba(18, 31, 53, 0.3);
}

.dot-spinner__dot:nth-child(2) {
  transform: rotate(45deg);
}

.dot-spinner__dot:nth-child(2)::before {
  animation-delay: calc(var(--uib-speed) * -0.875);
}

.dot-spinner__dot:nth-child(3) {
  transform: rotate(90deg);
}

.dot-spinner__dot:nth-child(3)::before {
  animation-delay: calc(var(--uib-speed) * -0.75);
}

.dot-spinner__dot:nth-child(4) {
  transform: rotate(135deg);
}

.dot-spinner__dot:nth-child(4)::before {
  animation-delay: calc(var(--uib-speed) * -0.625);
}

.dot-spinner__dot:nth-child(5) {
  transform: rotate(180deg);
}

.dot-spinner__dot:nth-child(5)::before {
  animation-delay: calc(var(--uib-speed) * -0.5);
}

.dot-spinner__dot:nth-child(6) {
  transform: rotate(225deg);
}

.dot-spinner__dot:nth-child(6)::before {
  animation-delay: calc(var(--uib-speed) * -0.375);
}

.dot-spinner__dot:nth-child(7) {
  transform: rotate(270deg);
}

.dot-spinner__dot:nth-child(7)::before {
  animation-delay: calc(var(--uib-speed) * -0.25);
}

.dot-spinner__dot:nth-child(8) {
  transform: rotate(315deg);
}

.dot-spinner__dot:nth-child(8)::before {
  animation-delay: calc(var(--uib-speed) * -0.125);
}

@keyframes pulse0112 {

  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

.random-video {
  margin-top: 50px;
}

.go-top-btn {
  position: fixed;
  bottom: 35px;
  right: 35px;
  border-radius: 50%;
  cursor: pointer;
  height: 60px;
  width: 60px;
  background: #fff;
  border: 3px solid #c7c6c6;
  display: none;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.go-top-btn img {
  width: 50px;
  height: 50px;
}

.go-top-btn:hover {
  height: 65px;
  width: 65px;
  transition: 0.3s;
  padding: 3rem;
}


#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}